.gray_bg {
  background: #eee;
  text-align: center; 
}
.gray_bg img {
  height: 15vh;
  margin: auto;
  padding-top: 5px;
}
.gray_bg h2 {
  text-align: center;
  margin-top: -5px;
  padding-bottom: 10px;
}